extends ./layout/index.pug
block compartircontenido 
    main.container.mt-5 
    h1.text-center.mt-5 #{pagina}
        .row 
            .col-md-12
                if(errores)
                    each error in errores
                        .alert.col.alert-danger.text-center=error.mensaje
            .row.justify-content-center.col     
                .col-md-8

                    form(action="/addHotel" method="POST")
                        .form-group
                            label(for="id_htl") ID hotel
                            input#id_htl(type="text", placeholder="identificador del hotel", name="id_htl", class="form-control", value=id_htl, readonly="readonly")
                        .form-group
                            label(for="id_grt") Gerente 
                            input#id_grt(type="text", placeholder="id", name="id_grt", class="form-control", value=idgrt, readonly="readonly")
                        .form-group    
                            label(for="nombre") Nombre del hotel 
                            input#nombre(type="text",placeholder="Nombre", name = "nombre", class="form-control",value=nombre)
                        .form-group    
                            label(for="direccion") Direccion
                            input#direccion(type="text",placeholder="Direccion", name = "direccion", class="form-control",value=direccion)
                        .form-group    
                            label(for="telefono") Telefono
                            textarea#telefono(type="text",placeholder="Telefono", name = "telefono", class="form-control", row=3)=telefono
                        .form-group    
                            label(for="correo") Correo
                            textarea#correo(type="text",placeholder="Correo", name = "correo", class="form-control", row=3)=correo
                        
                        input.btn.btn-success.btn-block(type="submit")