extends ./layout/index.pug
block compartircontenido 
    main.container.mt-5 
    h1.text-center.mt-5 #{pagina}
        .row 
            .col-md-12
                if(errores)
                    each error in errores
                        .alert.col.alert-danger.text-center=error.mensaje
            .row.justify-content-center.col     
                .col-md-8

                    form(action="/addHabitacion" method="POST")
                        .form-group
                            label(for="id_hbt") ID habitacion
                            input#id_hbt(type="text", placeholder="Identificador de la habitación", name="id_hbt", class="form-control", value=id_hbt, readonly="readonly")
                        .form-group
                            label(for="id_htl") Hotel 
                            input#id_htl(type="text", placeholder=Hotel, name="id_htl", class="form-control", value=id_htl, readonly="readonly")
                        .form-group    
                            label(for="piso") Piso
                            input#piso(type="text",placeholder="Piso de la habitación", name = "piso", class="form-control",value=piso)
                        .form-group    
                            label(for="nombre") Nombre
                            input#nombre(type="text",placeholder="Nombre", name = "nombre", class="form-control",value=nombre)
                        .form-group 
                            label(for="refrigerador") Refrigerador  
                            select#refrigerador(name="refrigerador", class="form-control", value=refrigerador, required)
                                option(value="") ---Seleccionar si la habitación tiene refrigerador---
                                option(value=1) Tiene
                                option(value=0) No tiene 
                        
                        
                        input.btn.btn-success.btn-block(type="submit")